/* -------- FLEX CONTENT CSS -------- */

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.grow {
    flex: 1 1 auto;
}


/* -------- PAGE STRUCTURE --------  */

body {
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
}

#root {
    align-items: center;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100%;
    background-color: lightgray;
}
#header-content {
    width: 75vw;
}

footer {
    width: 100%;
    background-color: rgb(71, 71, 71);
    color: white;
    align-items: center;
}
#footer-info {
    width: 75vw;
    padding: 50px 20px;
}

.component {
    width: 75vw;
    height: auto;
    padding: 0 20px;
    background-color: white;
    align-items: center;
}

button {
    border: 0;
    border-radius: 4px;
    font-size: medium;
    padding: 0px 10px;
    /* margin: 5px 10px 5px 0; */
    height: 30px;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

label {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5px;
}
.img-reg {
    width: 100%;
}
.img-small {
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.hide {
    display: none;
} 


/* -------- WELCOME & LOGIN PAGE -------- */

#welcome-text {
    text-align: center;
}

#login {
    width: 300px;
    margin: auto;
}

#login-user, #login-pass {
    width: 100%;
    font-size: medium;
    margin: 5px 0;
}


/* -------- PAGE OF LISTS -------- */

#list-welcome {
    width: 100%;
}

#lists-list {
    width: 100%;
}

#lists-header {
    align-items: center;
}
#lists-header h3 {
    flex: 1 1 auto;
}

/* #new-list-btn {
} */

.list-block {
    flex-wrap: nowrap;
    height: 75px;
    width: 100%;
    border-width: 1px;
    border-style: solid hidden;
    border-color: lightgray;
    align-items: center;
}

.list-block-text {
    max-height: 75px;
    width: auto;
    text-align: left;
    vertical-align: middle;
}
.list-block-text > * {
    margin: 4px;
    padding: 4px;
}

/* .edit-btn {
} */

/* .link-btn {
} */

/* -------- LIST VIEW PAGE -------- */

.list-totals {
    width: 100%;
}
#item-count, #cost-total {
    flex: 1 1 auto;
}
#item-count {
    text-align: left;
}
#cost-total {
    text-align: right;
}

.listview {
    width: 100%;
}

.list-btns {
    justify-content: flex-end;
}
/* .new-item-btn {
} */
/* .trash-list-btn {
} */
/* .share-list-btn {
} */

.list-display {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-block {
    width: 30%;
    min-width: 230px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.item-block-img {
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    align-content: end;
}

/* .item-block-text {
} */

.item-block-text > * {
    margin: 4px;
    padding: 4px;
}

.list-need {
    text-align: right;
    align-content: center;
    padding: 5px 10px;
    margin: 0;
    background-image: linear-gradient(to right, transparent, transparent, rgb(206, 206, 253));
}

.list-need-num {
    font-weight: bolder;
}



/* -------- NEW LIST & NEW ITEM PAGES -------- */

/* #new-list-header, #new-item-header {
} */

#new-list, #new-item {
    width: 50%;
    min-width: 300px;
}

/* #new-item {    
} */

#list-name, #list-info, #item-name, #item-URL {
    flex: 1 1 auto;
    font-size: medium;
    /* margin: 5px 0; */
}

#cost-img-input {
    width: 100%;
}
#item-cost {
    flex: 1 1 auto;
}


/* -------- VIEW ITEM PAGE -------- */

#item-details {
    width: 100%;
}

#item-btns {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.needed {
    flex: 1 1 auto;
    text-align: left;
    align-content: center;
}

.num-needed {
    font-weight: bolder;
}
